<div class="footer mt-5">
    <div class="row p-5">
        <div class="col-6">
            <p>Hacktiv Theater</p>
        </div>
        <div class="col-3">
            <p>KEEP CONNECTED</p> 
            <p><i class="fa fa-facebook-square" style="font-size:24px"></i> Facebook</p>
            <p><i class="fa fa-instagram" style="font-size:24px"></i> Instagram</p>
            <p><i class="fa fa-twitter-square" style="font-size:24px"></i> Twitter</p>
        </div>

        <div class="col-3">
            <p>CONTACT US</p> 
            <p>Address : Kebayoran Lama, Jakarta Selatan</p>
            <p>Phone : 061-123-123</p>
        </div>
    </div>
</div>