body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    border-bottom: 1px solid black;
}

.bg-light {
    background-color: white !important;
}

.carousel-inner{  
    width:100%;
    max-height: 80% !important;
}

.footer {
    background-color: #94A6BB;
    color: white;
}