<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register User</title>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container p-5">
        <h1 class="text-center pb-4">Register Account</h1>
        <form method="POST" action="/register">
            Full Name:<br>
            <input type="text" name="fullname" class="form-control" >
            <br>
            Email:<br>
            <input type="text" name="email" class="form-control" >
            <br>
            Password:<br>
            <input type="password" name="password" class="form-control" >
            <br><br>
            <button type="submit" class="btn btn-primary">Register User</button>
        </form>
    </div>
</body>
</html>