<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add Movie</h1>
    <form action="/movie/add" method="post">
        <h3>Title: </h3>
        <input type="text" name="name">
        <h3>Tayang: </h3>
        <input type="date" name="tayang"><br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>