<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/head')%>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar')%>

    <div class="wrapper">
            <h1 class="text-center p-5">CHOOSE YOUR SEAT</h1>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div id="seat-map">
                        <div class="front-indicator">Front</div>
                    </div>
                </div>   
                <div class="col-6">
                    <div class="booking-details">
                        <h2>Booking Details</h2>
                        <h3> Selected Seats (<span id="counter">0</span>):</h3>
                        <ul id="selected-seats">
                        </ul>
                        Total: <b>$<span id="total">0</span></b>
                        <button class="checkout-button" type="submit" id="checkout-submit">Checkout &raquo;</button>
                        <div id="legend"></div>
                    </div>

                </div>
            </div>  
        </div>
    </div>

</body>
<script type="text/javascript">
  var firstSeatLabel = 1;
  let movieData = <%- JSON.stringify(movie) %>
  let map = <%- JSON.stringify(seatMap) %>

  let orders = [];
  $(document).ready(function() {
    var $cart = $('#selected-seats'),
      $counter = $('#counter'),
      $total = $('#total'),
      sc = $('#seat-map').seatCharts({
        map: map,
      seats: {
        e: {
          price   : movieData.price,
          classes : 'regular-seat', //your custom CSS class
          category: 'Regular'
        }         
      
      },
      legend : {
        node : $('#legend'),
          items : [
          [ 'e', 'available', 'Empty Seat'],
          [ 'f', 'unavailable', 'Already Booked']
          ]         
      },
      click: function () {
        if (this.status() == 'available') {
          orders.push(this.settings.id)

          //let's create a new <li> which we'll add to the cart items
          $('<li>'+this.data().category+' Seat # '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
            .attr('id', 'cart-item-'+this.settings.id)
            .data('seatId', this.settings.id)
            .appendTo($cart);
          
       
          $counter.text(sc.find('selected').length+1);
          $total.text(recalculateTotal(sc)+this.data().price);
          
          return 'selected';
        } else if (this.status() == 'selected') {
          orders = orders.filter( setting => setting != this.settings.id);
        
          //update the counter
          $counter.text(sc.find('selected').length-1);
          //and total
          $total.text(recalculateTotal(sc)-this.data().price);
        
          //remove the item from our cart
          $('#cart-item-'+this.settings.id).remove();
        
          //seat has been vacated
          return 'available';
        } else if (this.status() == 'unavailable') {
          //seat has been already booked
          return 'unavailable';
        } else {
          return this.style();
        }
      }
    });

        //this will handle "[cancel]" link clicks
        $('#selected-seats').on('click', '.cancel-cart-item', function () {
        //let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
        sc.get($(this).parents('li:first').data('seatId')).click();
        });

        //let's pretend some seats have already been booked
        // sc.get(['1_2', '4_1', '7_1', '7_2']).status('unavailable');

    });

    function recalculateTotal(sc) {
      var total = 0;

      //basically find every selected seat and sum its price
      sc.find('selected').each(function () {
          total += this.data().price;
      });
      
      return total;
    }

    $('#checkout-submit').on( 'click' , function() {
      console.log(orders)
        $.ajax({
          method: "POST",
          url: "http://localhost:3000/movies/9/book",
          data: { orders, movieData },
          success: function(data) {
            if(data.redirect) {
              window.location.href = data.redirect;
            }
          }
        })
      })
</script>
</html>